<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.emotion_analysis.mapper.UserMapper">
    <select id="findall" resultType="User">
        select *from user
    </select>
    <select id="findUserByName" resultType="User">
        select  *from user where user_name=#{userName}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user(user_name,user_password,user_information,user_phone) values(userName,userPassword,userInformation.userPhone)
    </insert>

    <update id="updateUser" parameterType="User">
    update user
    <set>
        <if test="userName!=null">
            user_name=#{userName},
        </if>
        <if test="userInformation!=null">
            user_information=#{userInformation},
        </if>
        <if test="userPhone!=null">
            user_phone=#{userPhone},
        </if>
    </set>
    where user_id = #{userId}
    </update>
    <delete id="deleteUser">
        delete  from user as u where user_id=#{userId}
    </delete>
</mapper>
